@import '~bootstrap/scss/bootstrap';

html {
  background-color: skyblue;
}
body {
	background-color: skyblue;
}

div {
	background-color:skyblue;
}

h2 {
	background-color:skyblue;
  font-family: 'Anton', sans-serif;
  p.solid {border-style: solid;}
}

h1 {
  font-family: 'Anton', sans-serif;
}

.container {
  height: 100vh;
  background-color:skyblue
}


.board {
  margin: auto ;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  border-right-style: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5x solid black;
  border-right: 5px solid black;
}
.box:nth-child(1){
  min-height: calc (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(2){
  min-height: calc (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(4){
  min-height: calc (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:nth-child(5){
  min-height: calc (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(3n) {
  border-right: 0;
  min-height: calc (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-last-child(-1n + 3) {
  border-bottom: 0;
  min-height: calc (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover  {
  background-color:rgb(221, 83, 83) ;
}
